.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


todo-display-item-div{

  border: #61dafb;
  border-radius: 5px;
}
todoItem-border{
  padding: 20px;
}
.todo-display-inner-div{
  height: 50px;
  background-color: red;

  border-radius: 0px;

}
.todo-display-item-div-child1{
  background-color: #61dafb;
  width: 10px;
  flex-grow: 1;
  height: 49px;

  
}
